html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Sofia Pro', Arial, sans-serif;
}

.sidebar {
  width: 250px;
  height: 100%;
}

.main {
  flex-grow: 1;
  overflow: auto;
  padding: 16px;
  margin-left: 10rem;
}

.css-11e21v7-MuiSlider-root{
  color: black !important;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Regular'), url('./assets/fonts/./assets/fonts/Sofia Pro Regular Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Italic'), url('./assets/fonts/Sofia Pro Regular Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro ExtraLight'),url('./assets/fonts/Sofia Pro ExtraLight Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro UltraLight'),url('./assets/fonts/Sofia Pro UltraLight Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro ExtraLight Italic'),url('./assets/fonts/Sofia Pro ExtraLight Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro UltraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro UltraLight Italic'),url('./assets/fonts/Sofia Pro UltraLight Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Light'),url('./assets/fonts/Sofia Pro Light Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Light Italic'),url('./assets/fonts/Sofia Pro Light Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Medium'),url('./assets/fonts/Sofia Pro Medium Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Medium Italic'),url('./assets/fonts/Sofia Pro Medium Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro SemiBold'),url('./assets/fonts/Sofia Pro Semi Bold Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro SemiBold Italic'),url('./assets/fonts/Sofia Pro Semi Bold Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Bold'),url('./assets/fonts/Sofia Pro Bold Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Bold Italic'),url('./assets/fonts/Sofia Pro Bold Italic Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Black';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Black'),url('./assets/fonts/Sofia Pro Black Az.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Sofia Pro Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Black Italic'),url('./assets/fonts/Sofia Pro Black Italic Az.woff') format('woff');
  }